@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

#menu-bar {
    position: fixed; /* Já está configurado como absolute */
    z-index: 50;
}

#home-banner {
    position: relative; /* Adicionando posição relativa */
    z-index: 10; /* Adicionando z-index menor que #menu-bar */
    background-image: url('../img/bg-header-desktop.png');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icon-faded {
    opacity: .5;
}



/* #pelicula {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: black;
    z-index: 0;
    opacity: 0;
} */

/*
@media(max-width: 576px) {
    body {
      
    
} */

.bgGradiente {
    background: linear-gradient(to right, #003B7A, #006CE0);
}

.bgGradienteVertical {
    background: linear-gradient(190deg, #003B7A, #006CE0);
}

