@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

#side-menu {
  z-index: 50;
  width: 4rem;
  transition: width 0.4s;
}

#side-menu.open {
  width: 16rem;
}

#container-items {
  transition: all 0.4s;
}

#buscaAmigos.close {
  z-index: -1;
  transition: width 0.4s;
  width: 0;
}

#notificacoes {
  z-index: -1;
}

#buscaAmigos.open {
  z-index: -1;
  transition: width 0.4s;
  width: 24rem;
}

#buscaAmigos.close form input {
  transition: all 0.5s;
  position: absolute;
  top: 0rem;
  left: -22rem;
}

#buscaAmigos.open form input {
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translate(-50%, 50%);
}

#buscaAmigos {
  overflow-y: scroll;
  transition: all 0.5s;
}

#home-banner {
  position: relative;
  z-index: -1;
  background-image: url("../img/bg-header-desktop.png");
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.icon-faded {
  opacity: 0.5;
}

.bgGradiente {
  background: linear-gradient(to right, #003b7a, #006ce0);
}

.bgGradienteVertical {
  background: linear-gradient(190deg, #003b7a, #006ce0);
}
