@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-image: url('../img/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
}

@media(max-width: 576px) {
    body {
      
    
} */

.bgGradiente {
    background: linear-gradient(to right, #003B7A, #006CE0);
}

.bgGradienteVertical {
    background: linear-gradient(190deg, #003B7A, #006CE0);
}

.sombra {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
